.App {
  text-align: center;
}

.name {
  padding-top: 3em;
}
.blog {
  background-color: rgb(217, 220, 241);
  width: 300px;
  text-align: center;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  padding-bottom: 3em;
}
.sent {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding-top: 4em;
}
textarea {
  background: none;
  color: rgb(12, 3, 3);
  border-color: rgb(57, 38, 38);
}
p {
  font-size: 20px;
  color: rgb(49, 45, 77);
}
ol {
  background-color: rgb(208, 190, 100);
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 2em;
}
h1 {
  color: rgb(22, 22, 28);
  font-weight: 500;
  color: darkgreen;
}
